.class-customerInfo-page {
    width: 300px;
    font-size: 13px;
}

.class-customerInfo-page {
    background-color: white;
    width: 300px;
    height: 275px;
    /*overflow: auto;*/
}

input.input-info-class {
    width: 205px;
    text-align: left;
}
input.input-add-class {
    text-align: left;
}

caption {
    display: table-caption;
    align: top;
    text-align: center;
}

.delete_element-btn {
    background-color: white;
    border: none;
    color: black;
    padding: 1px 1px;
    font-size: 13px;
    cursor: pointer;
}

.delete_element-btn:hover {
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}
