.class-jokerResult-page {
    width: 325px;
    font-size: 13px;
}

.class-jokerResult-page {
    background-color: white;
    width: 325px;
    height: 300px;
    overflow: auto;
}

caption {
    display: table-caption;
    align: top;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}
