* {
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

.main {

    background-color: white;
    width: 335px;
    height: 300px;

}

.class-jokerResult-page {
    background-color: white;
    width: 95%;
    height: 100%;
    font-size: 13px;
}

caption {
    display: table-caption;
    align: top;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}
